*
{
    margin: 0;
    padding: 0;
}
body {
    background: radial-gradient(1.5em 6.28571em at 1.95em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(1.5em 6.28571em at -0.45em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 1.5em 5.5em, radial-gradient(2.3em 4.57143em at 2.99em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(2.3em 4.57143em at -0.69em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 2.3em 4em, radial-gradient(3.5em 6.28571em at 4.55em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(3.5em 6.28571em at -1.05em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 3.5em 5.5em, radial-gradient(#15ffa5, #00ced1);
    background-color: mediumspringgreen;
    background-size: 1.5em 11em, 1.5em 11em, 2.3em 8em, 2.3em 8em, 3.5em 11em, 3.5em 11em, 100% 100%;
    background-repeat: repeat;
    font-family: 'Anton', sans-serif;
font-family: 'Bebas Neue', cursive;
  }
  .title h1 {
      padding: 20px 0;
      text-align: center;
      font-size: 5em;

  }
  .header h1 {
 
    text-align: left;
    font-size: 3em;

}

  .container {
      background: darkslategray;
      width: 90%;
      max-width: 100000px;
      margin: 1.6em auto;
    display: grid;
      gap: 1.2em;
      grid-template-columns:repeat(5, 1fr);

  }
  .container > .header,
  .container > .content,
  .container > .sidebar,
  .container > .footer,
  .container > .div {
      background: rgba(66, 98, 240, 0.281);
      padding: 18px;
      border: 4px solid black;

  }
    .container .header, .container .footer {
        grid-column: 1/6;
        background-color: darkblue;
        color: white;
    }
 .container > .content {
     grid-column: span 5;
 }
 .container > .sidebar { 
    grid-column: span 2;
    grid-column: 4/6;
    display: flex;
    background-color: salmon    ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.container > .nav { 
    grid-column: 1/3 ;
    grid-row: 3/9;
    background-color: rgb(86, 218, 97)  ;
    font-size: 1.8em;
  
  
    }
    .container > .nav2 {
        grid-column:span 1;
        background-color:rgb(86, 218, 97) ;
        font-size: 1.8em;
        margin-top: 1em;
    }
.container > .elementimg {
    grid-column: 2/6;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 1em;

}
.content > article {
    background-color: lightslategray;
    padding: 20px;
    margin-top: 5px;    
    columns: rgba(255, 255, 255, 0.349);

}
.content > .article2 {
    background-color:  lightslategray;
    padding: 20px;
    margin-top: 5px;
    font-size: 1.2em;
}
.content > .article3 {
    background-color:lightgreen;
    font-size: 1.2em;
    padding: 20px;
    margin-top: 5px;
}
.content > .article4 {
    background-color: lightpink;
    font-size: 1.2em;
    padding: 20px;
    margin-top: 5px;
}
.content > .article5 {
    background-color: violet;
    font-size: 1.2em;
    padding: 20px;
    margin-top: 5px;
}
.content > .article6 {
    background-color: blueviolet;
    font-size: 1.2em;
    padding: 20px;
    margin-top: 5px;
}
.content > .subarticle1 {
    background-color: lightslategray;
    font-size: 1.2em;
    padding: 20px;
    margin-top: 5px;
}
.content > .subarticle2 {
    background-color: rgb(44, 219, 219);
    font-size: 1.2em;
    padding: 20px;
    margin-top: 5px;
}
.content > .subarticle3 {
    background-color:lightgreen;
    font-size: 1.2em;
    padding: 20px;
    margin-top: 5px;
}
.content > article h1,
.content > article p {
padding: 10px;
}
.content > .sidebar {
  grid-column: span 2;
  background-color: red;
}
.container > .footer { 
    font-size: 3em;
    transition: all 0.5s ease;
    
}
li {
    margin-left: 15px;
    margin-top: 15px;
   
}
 ul {
    list-style: none;
}
li {
    display: block;
}
ul ul {
    display: none;
}
ul ul li {
    display: block;
}
ul li:hover ul {
    display: block;
   
}
.container > .footer {
    display: grid;
    grid-template-columns:  33% 33% 33% ;
    text-align: center;
    font-size: 25px;
  
    
  
}
.container > .footer:hover {
    cursor: pointer;
    color: black;
    background-color: white;
    transition: all 1s ease;
}
table {
  position: absolute;
top: 150px; left: 400px;
width: 500px; 
height: 300px;
}
.form {
  display: inline-block;
  width: 100px;
  height: 100px;
  padding: 100px;
  border: 1px solid rgb(0, 255, 128);    
  background-color: rgb(166, 255, 0); 
  overflow: auto;
  }
@media screen and (max-width:600px) {
    .header {
        text-align: center;
            }
    .container .content {
            grid-column: 1/-1;
                            }
     .container .nav {
            grid-column: 1/-1;
            text-align: center;
         }
         .container .sidebar {
            grid-column: 1/-1;
            text-align: center;
         }
.gridFormasDeTrabajo {
  flex-direction: column-reverse;
  padding: 30px;
  flex-wrap: wrap;
  min-width: 300px;
  display: flex;
}
@media (max-width: 600px) {
   .gridFormasDeTrabajo {
     width: 100%;

   }
}
.containert {
  width: 600%;
  }
.table .containert {
      width: 900%;
      overflow-y: 1 / -1;
      _overflow: auto;
      margin: 0 0 1em;
}

     /* CSS FORMAS DE TRABAJO */

/* css de las páginas
.titulos {
    color: rgb(51, 236, 174);
    font-size: 60px;
    text-decoration: hsl(120, 61%, 34%);
    font-style: italic;
    text-align: center;
}
.textoCentrado {
text-align: center;
}
.textoDerecha {
  text-align: right;
}
.textoIzquierda {
text-align: left;
}
ul {
  color: #da2d16;
  font-size: 20px;
}
.bordesRedondeados {
  border: solid 2px chartreuse;
  border-radius: 50%;
}
.color {
  color: rgb(177, 166, 241);
}
.color2 {
  color: rgb(236, 156, 52);
}
.bordes {
  border-color: rgb(224, 23, 23);
}
.tamañoGrande {
font: 200px; 
}
.tamañoPequeño {
  font-size: 50px;

}
.grad {
background-image: linear-gradient( to bottom, blue, white );
}
#fondomain {
  background-color: rgb(250, 239, 175);
}
#fondo2 {
  background-color: rgb(203, 243, 144);
}
#fondo3 {
  background-color: rgb(223, 196, 210);
}
#fondo4 {
  background-color: rgb(205, 253, 237);
}
#fondo5 {
  background-color: rgb(243, 222, 214);
}
#centrar {
  position: absolute;
  left: 50%;
}
Tipos de letras
.negrita {
  font-weight: bold;
}
.comic {
  font-family: "Comic Sans MS" , 
  sans-serif;
}
.letraGrande {
  font-size: 20px;
}
.olRomano {
  list-style-type: upper-roman;
}
.listaInside {
  list-style-position: inside;
}
#fondoImagen {
  background-image: url("https://www.aciprensa.com/imagespp/SantaMariaGoretti050718.jpg?jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.textoWeb {
  font-family:'Roboto', sans-serif;
}
nav {
      border: solid 2px rgb(27, 243, 8);
      padding: 5px;
      display: inline-block
  
  }
video {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
}
img {
  position: absolute;
top: 150px; left: 600px;
}
table {
  position: absolute;
top: 150px; left: 400px;
width: 500px; 
height: 300px;
}
.form {
  display: inline-block;
  width: 100px;
  height: 100px;
  padding: 100px;
  border: 1px solid rgb(0, 255, 128);    
  background-color: rgb(166, 255, 0); 
  overflow: auto;
  }
ul {
  list-style: none;
}
li {
  display: block;
}
ul ul {
  display: none;
}
ul ul li {
  display: block;
}
ul li:hover ul {
  display: block;
}
image {
  width: 100%;
}
.padre {
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
}
.hijo {
  flex: 25%;
  padding: 5px;

}
.hijo img {
  margin-top: 5px;
}
.padre2 {
  display: flex;
justify-content: center;
flex-direction: column;
flex-wrap: wrap ;
align-items: stretch;
padding: 10px;
}
.hijo1 {
margin: 5px;
background-color: aquamarine;
}
.hijo2 {
  margin: 5px;
  background-color: rgb(255, 127, 191);
  }
.hijo3 {
  margin: 5px;
  background-color: rgb(209, 245, 233);
      }
*/
                    
    
} 
